{% extends 'base.html.twig' %}

{% block title %}Log in!
{% endblock %}

{% block body %}
	<form method="post">
		{% if error %}
			<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
		{% endif %}

		{% if app.user %}
			<div class="mb-3">
				You are logged in as
				{{ app.user.userIdentifier }},
				<a href="{{ path('app_logout') }}">Logout</a>
			</div>
		{% endif %}
		<div class="login col-md-4 mx-auto">

			<h1 class="text-center">Sign in</h1>

			<form class="needs-validation">
				<div class="form-group was-validated">
					<label class="form-label" for="email">Email address</label>
					<input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
				</div>
				<div class="form-group was-validated">
					<label class="form-label" for="password">Password</label>
					<input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
					<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
				</div>
				<button class="btn btn-success w-100 mt-4" type="submit">
					Sign in
				</button>
			</form>
			<p class="mt-1">Do not have an account?</p>
			<a class="mt-1" href="{{path('app_register')}}">Register now</a>

		</div>
	</form>
{% endblock %}
