{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <div class="container text-center col-md-4 mt-3 card bg-light">
    <h1 class="text-success">Register</h1>

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.userDetail.name) }}
        {{ form_row(registrationForm.userDetail.phone) }}
        {{ form_row(registrationForm.userDetail.address) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
        {{ form_row(registrationForm.agreeTerms) }}

        <button type="submit" class="btn">Register</button>
    {{ form_end(registrationForm) }}
	</div>
{% endblock %}